$background-color: #e1fffd;
$focus: #c3e6e5;

.product-list{
    list-style: none;
    padding: 0;
    margin: 2rem;
    .product-list-item{
        border: 1px solid hsl(45, 14%, 5%);
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 1rem;
        height: 3.5rem;
        padding: 0 1rem;
        &:hover{
            background: $focus;
        }
    }
}
button{
    margin: 0.25rem;
    padding: 0.25rem 0.5rem;
    background-color: white;
    border: 1px solid hsl(45, 14%, 5%);
    border-radius: 10px;
    box-shadow: 0px 0px 3px hsla(0, 0%, 0%, 0.5);
    &:hover{
        background: #e8e8e8;
    }
}
#productImage{
    height: 10rem;
    width: 10rem;
}
