$primary-color: #50bea3;
$icon-color: #359076;
$tertiary-color: #82d7c0;
$secondary-color: #afe8ea;
$header-height:4rem;


.home-page{
  // background-color: $tertiary-color;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  margin: 0;
  padding: 0;
}
.header{
  background-color: $secondary-color;
  box-shadow: 0px 0px 3px hsla(0, 0%, 0%, 0.7);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;

  height: $header-height;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem;
  .log-out{
    box-shadow: 0px 0px 3px hsla(0, 0%, 0%, 0.7);

    height: 2.2rem;
    border-radius: 15px;
    border: none;
    color: white;
    background-color: $icon-color;
    &:hover{
      background-color: $primary-color;
    }
  }
  .heading{
    font-size: 2.2rem;
    width: 80vw;
  }
  .navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 7.5rem;
    &-icon{
      filter: invert(47%) sepia(62%) saturate(373%) hue-rotate(112deg) brightness(90%) contrast(91%);
      &:hover{
        filter: invert(79%) sepia(5%) saturate(3997%) hue-rotate(112deg) brightness(88%) contrast(74%);
      }
    }
  }
}
.empty-div{
  height: $header-height;
}
.products{
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  gap: 3rem;

}