$primary-color:#50bea3;
$background-color: #e1fffd;
body{
    background-color: $background-color;
    text-align: center;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    font-family: Calibri, sans-serif;
    min-height: 100vh;
}