$primary-color: #50bea3;
$icon-color: #359076;
$tertiary-color: #82d7c0;
$secondary-color: #afe8ea;
$secondary-color-focus: #9ce2e5;

.product-tile{
  //margin: 2rem;
  height: 21rem;
  width: 17rem;

  box-shadow: 0px 0px 3px hsla(0, 0%, 0%, 0.7);
  border-radius: 10px;
  background-color: $secondary-color;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  .product-image{
    height: 12rem;
    width: 12rem;
    border-radius: 10px;
  }
  .product-description{
    height: 5rem;
    width: 12rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .5rem;
    .product-title{
      font-size: 2rem;
    }
    .product-price{
      font-size: 1.4rem;
    }
  }
  &:hover{
    background-color: $secondary-color-focus;
  }
}